html{
    scroll-behavior: smooth;
}
body{
	margin: 20px;
 	padding: 10px;
}

header{
	display: flex;
  	background: #777777;
  	justify-content: space-around;
  	border: 2px solid blue;
}


h1{
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
}

h2{
	font-size: 40px;

}
h3{
	font-size: 25px;
}

p{
	font-size: 18px;
	padding-top: 10px;
}

img{
	display: block;
	width:300px;
	margin:0 auto;
}

div{
	min-height:150px;
	padding: 25px;
}
ul{
	margin: 20px;
}
.navbar{
	flex-direction: row;
	justify-content: space-between;
	background-color: #444444;
}
@media all and (min-width: 800px){


}